/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* ! common styles
/* * 
  * rounded-lg
  * mx-8 : sidebar , search
  * rounded-lg border-2 border-bordercolor
  * mr-8: margin to make space on the left of sidebar
* */

* {
  box-sizing: border-box;
}

.content a {
  @apply text-pink-600;
  @apply underline;
}

.content a:hover {
  @apply no-underline;
}

@font-face {
  font-family: 'ilyas';
  src: url('../fonts/ilyas.otf');
}

.post-enter {
  max-height: 0;
  opacity: 0;
  scale: 0.5;
}

.post-enter-active {
  scale: 1;
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.4s 0.5s ease-in-out,
    scale 0.4s 0.5s ease-in-out;
}

.post-exit {
  max-height: 1000px;
  opacity: 1;
}

.post-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

.tweet-enter {
  max-height: 0;
  opacity: 0;
  scale: 0.5;
}

.tweet-enter-active {
  scale: 1;
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.4s 0.5s ease-in-out,
    scale 0.4s 0.5s ease-in-out;
}

.tweet-exit {
  max-height: 1000px;
  opacity: 1;
}

.tweet-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tag {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.gradient-bg {
  background-image: linear-gradient(360deg, rgb(0 0 0), rgba(0, 0, 0, 0));
}

img {
  object-fit: cover;
  object-position: top;
}

p {
  direction: rtl;
}

svg.article path {
  fill: #f4f3f4;
}

svg.search {
  fill: #818081;
}

textarea:focus,
input:focus {
  outline: none;
}

.img-post > div {
  max-width: 100% !important;
}

.par > p {
  margin-bottom: 1rem;
}

.authors {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.authors-sm {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
